:root {
  --blue: #1e4196;
  --off-white:#dfdfdf;
  --dark-purple:#2f3061;
  --light-purple:#5f5980;
  --charcoal:#343434;
}

body{
    background-color: var(--off-white);
    padding: 0px;
    color: var(--light-purple);
    border-radius: 0.3em;
}

input, select, button{
    margin-top: 0.2em;
    background-color: var(--blue); 
    border: var(--dark-purple) solid 3px;
    color: var(--off-white);
    border-radius: 0.3em;
}

select, input{
    background-color: var(--off-white);
    color: var(--light-purple);
    border: var(--dark-purple) solid 1px;
}

hr{
    color: var(--dark-purple);
    background-color: var(--dark-purple);
    height: 1.2px;
}

div{
    min-height: fit-content!important;
    min-width: fit-content!important;
    word-wrap: break-word;
}

#center_align {
    width: 170px;
    margin: 0 auto;
    margin-top: 5%;
}

#center_align_home {
    width: 300px;
    margin: 0 auto;
    margin-top: 5%;
}

h1{
    text-align: center;
    color: var(--dark-purple);
}

#homework_button, #create_button, #display_button{
    height: 95px;
    width: 95px;
}

#home_button{
    margin: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

#user_button{
    margin: 10px;
    margin-top: 5px;
    position: fixed;
    top: 0px;
    right: 0px; 
}

#to_login_button, #to_signup_button, .change{
    background-color: var(--off-white);
    color: var(--blue);
    border: none;
}

#please_be_centered{
    text-align: center;
    padding: 20px;
}

#classes{
    margin: 10px;
    position: fixed;
    top: 35px;
    right: 10px; 
    width: 7%;
}

#pfp img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    
}
#pfp{
    overflow: hidden;
    width: 13.5vw;  
    height:13.5vw;
    border: 1.5px var(--dark-purple) solid;
    border-radius: 50%;
}

#bitch_move{
    margin-right:0px auto;
    text-align: right;
}



.listbox{ width: 100%; }

.box-md-long, .box-md-long-nb{ height: 44.4vh; }
.box, .box-nb{ height: 59.5vh; }
.box-less-long, .box-less-long-nb{ height: 85vh; }
.box-long, .box-long-nb{ height: 89vh; }
.box-small, .box-small-nb{ height: 29.5vh; }
.box-medium, .box-medium-nb{ height: 35.6vh; }
.box-smaller, .box-smaller-nb{ height: 26.7vh; }
.box-smallest, .box-smallest-nb{ height: 19.5vh; }
.box-tiny, .box-tiny-nb{ height: 10.1vh; }

.box-tiny,.box-smallest,.box,.box-small,.box-long,.box-medium,.box-smaller,.box-md-long,.box-less-long{
    border: 2px var(--dark-purple) solid;
    padding: 1em;
    border-radius: 0.4em;
}



/*.box-nb,.box-small-nb,.box-long-nb,.box-less-long,.box-medium-nb,.box-tiny-nb,.box-smallest-nb,.box-md-long-nb{border: 3px greenyellow solid;padding: 1.1em;} 
*/
